# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment variables
.env
.env.local
.env.production
.env.development
!.env.gpg
!.env.example

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Production builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
dividela-76aba-firebase-adminsdk-fbsvc-7056829219.json

# Temporary files
*.tmp
*.temp

# Firebase
.firebase/
.firebasecache
